.FAQ{
    min-height: 690px;
    margin-top: 120px;
    margin-bottom: 100px;
    background: linear-gradient(rgba(2, 25, 26, 0.7),rgba(22, 255, 247, 0.7)), url('/src/assets/Img/question-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.faq-left-side{
    height: 450px;
    flex-direction: column;
}
.faq-left-side > img{
    height: 250px;
}
.faq-left-side > p{
    max-width: 500px;
}




@media (max-width:768px){
    .FAQ{
        margin-top: 50px;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
}
