.add-notice > div > form{
    max-width: 500px;
}
.add-notice > div > form > input{
    outline: none;
}




.all-users{
    gap: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.all-users > div > div > button{
    border: none;
    outline: none;
}
.MdDelete{
    font-size: 25px;
    cursor: pointer;
}
