.TempBtn{
    z-index: 1;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    color: beige;
    background-color: #042234;
    padding: 10px 20px 10px 20px;
    font-family: 'Courier New', Courier, monospace;
}
.TempBtn::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0%;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .4s ease;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: orange;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.TempBtn::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: 0%;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .4s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(18, 145, 255);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.TempBtn:hover::before,
.TempBtn:hover:after{
    width: 50%;
}