.course{
    min-height: 90vh;
    color: beige;
    background-color: #042234;
}
.categoryBtn{
    color: white;
    padding: 2px 13px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.select_categoryBtn{
    border: 1px solid blueviolet;
    transform: scale(1.2) !important;
    -webkit-transform: scale(1.2) !important;
    -moz-transform: scale(1.2) !important;
    -ms-transform: scale(1.2) !important;
    -o-transform: scale(1.2) !important;
}
.job-fields{
    list-style: none;
}