.contact-us{
    padding: 50px 0 0px 0;
}

/* ------------ contact info section starting ------------- */
.contact-with-info{
    background-image: linear-gradient(rgba(255, 59, 59, 0.7),rgba(69, 255, 249, 0.7)), url('../Img/college-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 380px;
    overflow: hidden;
}
.contact-with-info > h4{
    font-size: 20px;
    padding: 10px 10px 0 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}
.contact-with-info > p{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 550;
    max-width: 620px;
    font-size: 14px;
}
.contact-with-info > div{
    display: flex;
}
.contact-with-info > div p{
    padding: 1px 5px 0 4px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.3);
}
.contact-with-info > div i{
    font-size: 17px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.contact-with-info > h4:hover,
.contact-with-info > p:hover,
.contact-with-info > div p:hover,
.contact-with-info > div i:hover{
    color: rgb(161, 161, 161);
    background-color: rgba(0, 0, 0, 0.7);
}
.contact-social-icons{
    display: flex;
    gap: 20px;
}
.contact-social-icons > a {
    text-decoration: none;
}
.contact-social-icons > a > i{
    height: 40px;
    width: 40px;
    font-size: 20px;
    transform: translateY(10px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
.contact-social-icons > a > i:hover{
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}
.contact-with-map > iframe{
    height: 380px;
    box-shadow: 0 0 10px rgb(169, 169, 169);
}
/* ------------ contact info section ending ------------- */


/* ------------ contact form starting ------------- */
.message-us{
    min-height: 600px;
    margin-top: 130px;
    padding: 70px 0 70px 0px;
    background: linear-gradient(rgba(255, 0, 0, 0.3),rgba(22, 255, 247, 0.3)), url('/src/assets/Img/contact-us.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.message-box{
    margin: auto;
    max-width: 700px;
}
.message-box > form > input,
.message-box > form > textarea{
    border: 2px solid rgb(0, 255, 255);
    outline: none;
    background-color: transparent;
    animation: animates 1.5s linear infinite;
    -webkit-animation: animates 1.5s linear infinite;
}
.message-box > form > input::placeholder,
.message-box > form > textarea::placeholder{
    color: beige;
    font-weight: 600;
}
.message-box > form > textarea{
    height: 150px;
}
/* ------------ contact form ending ------------- */


/* >>>>>>>>>>>>>>>>>>> responsive section starting <<<<<<<<<<<<<<<<<< */
@media (max-width:768px){
    .contact-us{
        margin-bottom: 50px;
    }
    .contact-with-info{
        height: 430px;
        padding: 10px;
    }
    .contact-with-info > h4{
        font-size: 20px;
    }
    .contact-with-info > p{
        font-size: 15px;
    }
    .contact-with-info > div > i{
        margin-top: 5px;
    }
    .contact-social-icons{
        justify-content: center;
    }
    .contact-with-map{
        margin-top: 20px;
    }
    .message-us{
        margin-top: 50px;
}
/* >>>>>>>>>>>>>>>>>>> responsive section ending <<<<<<<<<<<<<<<<<< */
}