.authentication{
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}
.authentication > form{
    padding: 10px 20px;
    width: 380px;
}
.authentication > form > input{
    outline: none;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    color: rgb(63, 63, 63);
}
.submit-btn{
    padding: 6px 12px;
    font-size: 16px;
    color: aliceblue;
    background-color: blueviolet;
    border: 1px solid blueviolet;
}
.submit-btn:hover{
    color: blueviolet !important;
    background-color: transparent;
}
.exist-btn > button{
    padding: 6px 12px;
    color: blueviolet;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid blueviolet;
}
.exist-btn > button:hover{
    color: white;
    background-color: blueviolet;
}