.subjects{
    min-height: 600px;
    margin-bottom: 130px;
    padding-bottom: 60px;
    padding-top: 50px;
    background: linear-gradient(rgba(91, 62, 255, 0.7),rgba(69, 255, 249, 0.7)), url('/src/assets/Img/subjects.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.subjects > h1{
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subject-content{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    cursor: pointer;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
.subject-content-box{
    display: flex;
    padding: 20px;
    width: 350px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);

}
.subject-content-box:hover{
    box-shadow: 0 0 5px aqua;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}
.subject-content-box:hover > h3{
    color: aqua;
}
.subject-content-box > img{
    width: 170px;
    height: 120px;

}
.subject-content-box > h3{
    text-align: center;
    padding-left: 10px;
    font-weight: bold;
    color: beige;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}





/* ------------  responsive section starting -------------  */
@media (max-width: 768px){
    .subjects{
        margin-bottom: 50px;
    }
}
@media (max-width: 450px){
    .subject-content-box{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}
/* ------------  responsive section ending -------------  */
