/* --------- teacher-details section starting --------- */
/* ------ gallery-overflow starting ------ */
.gellary-head{
    margin-top: 130px !important;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    justify-content: center;
}
.gallery-content{
    width: 350px;
    height: 300px;
    overflow: hidden;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.gallery-content-box{
    width: 350px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.gallery-content-box > img{
    height: 100%;
    width: 100%;
    z-index: -3;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(203, 203, 203);
}
.img-screen{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: end;
    flex-direction: column;
    justify-content: end;
    border-bottom-left-radius: 50px;
}
.FaCompress{
    color: rgb(3, 124, 230);
    padding-right: 10px;
    font-size: 40px;
}
.FaCompress:hover{
    color: blueviolet;
}


.gallery-overflow{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 50px;
    background-color: rgb(63, 193, 173, .8);
}
.gallery-overflow-social{
    gap: 10px;
    display: flex;
}
.gallery-overflow > .gallery-overflow-social > a{
    text-decoration: none;
    margin-bottom: 10px;
}
.gallery-overflow > .gallery-overflow-social > a > i{
    font-size: 20px;
    color: rgb(4, 34, 52);
    padding: 5px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: beige;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.gallery-overflow > .gallery-overflow-social > a > i:hover{
    background-color: rgb(4, 34, 52);
    color: rgb(63, 193, 173);
}
.gallery-overflow > p{
    max-width: 300px;
    text-align: center;
    color: rgb(1, 11, 30);
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gallery-content-box:hover > .gallery-overflow{
    top: 0%;
}


/* ------------  responsive section starting -------------  */
@media (max-width: 768px){
    .gellary-head{
        margin-top: 50px !important;
    }
}